<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/base-con-menu :: layout(~{::title}, ~{::cuerpo}, ~{::link})}">

<head>
    <title>Comandas</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.1/css/responsive.dataTables.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />
</head>

<body class="d-flex">
    <th:block th:fragment="cuerpo">
        <main class="main">
            <div class="box info">
                <div class="header-info">
                    <h2 class="mb-3">Nueva Comanda</h2>
                </div>
                <hr class="separator" />
                <div class="body-info">
                    <form id="form-comanda">
                        <input type="hidden" id="txt-estado-mesa" th:value="${mesa.getEstado()}">
                        <div class="row   d-flex justify-content-center ">
                            <div style="display: none;"
                                class="alert alert-danger alert-dismissible fade show col-12 col-md-8 col-lg-6 "
                                role="alert" id="alerta-error">
                                <strong>¡Error!</strong> <span id="mensaje-error"></span>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Close"></button>
                            </div>

                        </div>
                        <div class="row w-100  px-4 py-1 mx-auto">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="txt-numero-comanda" class="form-label fw-bold">Numero de Comanda</label>
                                    <input disabled th:value="${idComanda == null ? comanda.getId() : idComanda}"
                                        type="number" class="form-control" name="txt-numero-comanda"
                                        id="txt-numero-comanda" placeholder="Numero de Comanda">
                                </div>
                                <div class="mb-3">
                                    <label for="txt-numero-mesa" class="form-label fw-bold">
                                        Numero de Mesa
                                    </label>
                                    <input disabled th:value="${mesa.getId()}" type="number" name="txt-numero-mesa"
                                        class="form-control" id="txt-numero-mesa" placeholder="Numero de mesa">
                                </div>
                                <div class="mb-3">
                                    <label for="txt-cantidad-persona" class="form-label fw-bold">
                                        Cantidad de Personas
                                    </label>
                                    <input type="number" class="form-control" id="txt-cantidad-persona"
                                        name="txt-cantidad-persona" placeholder="Cantidad">
                                    <input type="hidden" class="form-control" id="txt-cantidad-maxima">

                                </div>
                            </div>
                            <div class="col-6 border-start">
                                <div class="mb-3">
                                    <label for="txt-estado-comanda" class="form-label">Estado de la Comanda</label>
                                    <input disabled type="text" class="form-control" id="txt-estado-comanda"
                                        value="Sin Pagar" placeholder="Estado comanda" name="txt-estado-comanda">
                                </div>
                                <div class="mb-3">
                                    <label for="txt-empleado" class="form-label">Empleado</label>
                                    <input disabled th:value="${#authentication.principal.usuario.empleado.nombre}"
                                        type="text" class="form-control" id="txt-empleado" placeholder="Empleado"
                                        name="txt-empleado">
                                </div>
                                <div class="mb-3">
                                    <label for="precio-total" class="form-label">Precio Total</label>
                                    <input disabled type="number" class="form-control" id="txt-total"
                                        placeholder="Precio total" name="txt-total">
                                </div>
                            </div>
                        </div>
                        <div class="row w-100 gap-4 px-4 py-1 d-flex mx-auto">
                            <button th:if="${mesa.getEstado() == 'Ocupado'}" type="button"
                                class="btn btn-primary  col-md-3" id="btn-actualizar-comanda">
                                <i class="bi bi-save"></i>
                                Actualizar Comanda
                            </button>

                            <button th:if="${mesa.getEstado() != 'Ocupado'}" type="button"
                                class="btn btn-primary  col-md-3" id="btn-guardar-comanda">
                                <i class="bi bi-save"></i>
                                Generar Comanda
                            </button>


                            <button type="button" class="btn btn-primary col-md-3" id="btn-add-plato">
                                Añadir Plato
                                <i class="bi bi-plus-circle"></i>
                            </button>
                            
                            <button th:if="${mesa.getEstado() == 'Ocupado'}" type="button"
                                class="btn btn-danger  col-md-3" id="btn-del-plato">
                                Eliminar Comanda
                                <i class="bi bi-trash"></i>
                            </button>

                            <a href="http://localhost:8091/configuracion/comanda"
                                class="btn btn-secondary  col-md-3">Regresar</a>
                        </div>
                    </form>
                    <hr class="separator" />
                    <div class="row px-4">
                        <div class="col-12">
                            <h3 class="fw-bold">Platos</h3>
                        </div>

                        <div class="col-12">
                            <table id="tablaEmpleado" class="table display" style="width: 100%"
                                aria-describedby="Tabla de Métodos de Pagos">
                                <thead class="align-middle">
                                    <th>Código</th>
                                    <th>Imagen</th>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Categoria</th>
                                    <th>Precio Total</th>
                                    <th>Eliminar</th>
                                </thead>
                                <tbody id="tbBodyPlatos">
                                    <!-- <tr th:if="${#lists.isEmpty(comanda.getListaDetalleComanda())}">
                                        <td colspan="7" class="text-center">No hay platos agregados</td>
                                    </tr> -->
<!-- 
                                    <tr th:each="detalleComanda : ${comanda.getListaDetalleComanda()}"
                                        th:if="${mesa.getEstado() == 'Ocupado'}">

                                        <td th:text="${detalleComanda.getPlato().getId()}"></td>
                                        <td>
                                            <img th:src="${detalleComanda.getPlato().getImagen()}" alt=""
                                                class="img-thumbnail" width="100px">
                                        </td>
                                        <td th:text="${detalleComanda.getPlato().getNombre()}"></td>
                                        <td th:text="${detalleComanda.getCantidadPedido()}"></td>
                                        <td th:text="${detalleComanda.getPlato().getCategoriaPlato().getNombre()}">
                                        </td>
                                        <td
                                            th:text="${detalleComanda.getPrecioUnitario() * detalleComanda.getCantidadPedido()}">
                                        </td>
                                        <td class="text-center">
                                            <i class="icon-action icon-delete bi bi-trash-fill"></i>
                                        </td>
                                    </tr> -->

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </main>

        <template th:insert="~{/fragments/modal-template}" id="modal-template">
        </template>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
            integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
        <script src="https://cdn.datatables.net/responsive/2.4.1/js/dataTables.responsive.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <script type="module" src="/js/comanda-detalle.js"></script>
    </th:block>
</body>

</html>