<!DOCTYPE html>
<html
  lang="es"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layouts/base-con-menu :: layout(~{::title}, ~{::cuerpo}, ~{::enlaces})}"
>
  <head>
    <title>Configuración de Establecimiento</title>
    <th:block th:fragment="enlaces"> </th:block>
  </head>

  <body class="d-flex">
    <th:block th:fragment="cuerpo">
      <main class="main">
        <div class="box info">
          <div class="header-info">
            <h2 class="mb-3">Establecimiento</h2>
          </div>

          <hr class="separator" />

          <div class="body-info">
            <form
              class="container"
              action="/configuracion/establecimiento/actualizar"
              method="POST"
              th:object="${establecimiento}"
            >
              <input
                type="hidden"
                th:field="*{id}"
                th:value="${establecimiento.id}"
              />

              <div class="row g-3">
                <div class="col-12 col-lg-6">
                  <label class="h4">Nombre del establecimiento</label>
                  <div>
                    <input
                      class="form-control"
                      id="name"
                      name="name"
                      th:field="*{nombre}"
                      th:value="${establecimiento.nombre}"
                    />
                    <div id="name-invalid" class="text-start invalid-feedback">
                      Ingresa un nombre válido. Debe tener entre 3 y 100
                      caracteres, comenzar con una letra mayúscula seguida de
                      letras mayúsculas o minúsculas.
                    </div>
                  </div>
                </div>

                <div class="col-12 col-lg-6">
                  <label class="h4">Teléfono</label>
                  <div>
                    <input
                      class="form-control"
                      id="telephone"
                      name="telephone"
                      th:field="*{telefono}"
                      th:value="${establecimiento.telefono}"
                    />
                    <div
                      id="telephone-invalid"
                      class="text-start invalid-feedback"
                    >
                      Ingresa un número de teléfono válido. Debe comenzar con el
                      dígito 9, seguido de otros 8 dígitos numéricos.
                    </div>
                  </div>
                </div>

                <div class="col-12 col-lg-6">
                  <label class="h4">Dirección</label>
                  <div>
                    <input
                      class="form-control"
                      id="address"
                      name="address"
                      th:field="*{direccion}"
                      th:value="${establecimiento.direccion}"
                    />
                    <div
                      id="address-invalid"
                      class="text-start invalid-feedback"
                    >
                      Ingresa una dirección válida. Debe tener entre 3 y 100
                      caracteres y comenzar con una letra mayúscula. Puedes
                      utilizar letras mayúsculas y minúsculas, números, puntos y
                      guiones.
                    </div>
                  </div>
                </div>

                <div class="col-12 col-lg-6">
                  <label class="h4">RUC</label>
                  <div>
                    <input
                      class="form-control"
                      id="ruc"
                      name="ruc"
                      th:field="*{ruc}"
                      th:value="${establecimiento.ruc}"
                    />
                    <div id="ruc-invalid" class="text-start invalid-feedback">
                      Ingresa un número de ruc válido. Debe comenzar con un
                      dígito del 1 al 9 y tener entre 11 y 20 dígitos numéricos
                      adicionales.
                    </div>
                  </div>
                </div>

                <div class="col-12 text-end">
                  <input
                    id="btn-update"
                    type="submit"
                    class="btn btn-primary my-2"
                    value="Actualizar información"
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
      </main>

      <!-- Custom JavaScript -->
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      ></script>

      <script type="module" src="/js/establecimiento.js"></script>
    </th:block>
  </body>
</html>
