<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>

    <form
      action="#"
      th:action="@{/login/}"
      th:object="${registroUsuarioDTO}"
      method="post"
    >
      <table>
        <tr>
          <td>Correo Electrónico:</td>
          <td><input type="text" th:field="*{correo}" /></td>
          <td th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}">
            Correo Error
          </td>
        </tr>
        <tr>
          <td>Contraseña:</td>
          <td><input type="text" th:field="*{contrasena}" /></td>
          <td
            th:if="${#fields.hasErrors('contrasena')}"
            th:errors="*{contrasena}"
          >
            Contraseña Error
          </td>
        </tr>
        <tr>
          <td><button type="submit">Submit</button></td>
        </tr>
      </table>
    </form>
  </body>
</html>
